<!-- <div class="container">
    <br>
    <a routerLink="/service/create" class="btn">Registrar Encomienda</a>
   
    <table class="table responsive">
      <thead>
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Valor</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Encomienda</th>
        </tr>
      </thead>
   
      <tbody>
        <tr *ngFor="let p of listado">
          <td>{{p.date}}</td>
          <td>{{p.time}}</td>
          <td>{{p.value}}</td>
          <td>{{p.origin}}</td>
          <td>{{p.destiny}}</td>
          <td>{{p.entrust}}</td>
          <td>
            <a routerLink="/service/edit/{{p.id}}" class="btn">Editar</a>
            <button class="btn red" (click)="delete(p.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
   -->

<body>
  <div class="container">
    <br>
    <div class="fixed-action-btn toolbar">
      <a routerLink="/service/create" class="btn-floating btn-large waves-effect grey darken-3"><i
          class="material-icons">add</i></a>
    </div>
    <table class="table responsive">
      <tbody>
        <tr *ngFor="let p of listado;let i=index;" >
          <td>
            <div class="row mt-2">
              <div class="col s3 m5">
                <div class="card yellow lighten-3">
                  <div class="card-image">
                    <img class="responsive-img" src="../../../../assets/service.png" style="height: 40%;
                      width: 60%;
                      margin-left:25%;
                      top: 30px;
                      bottom: 50px;">
                    <span class="card-title" style="top: 60px;">Servicio {{i+1}}</span>
                    <a routerLink="/service/edit/{{p.id}}"
                      class="btn-floating halfway-fab waves-effect green accent-3"><i
                        class="material-icons">edit</i></a>
                    <button class="btn-floating halfway-fab waves-effect red" (click)="delete(p.id)"><i
                        class="material-icons">delete_forever</i></button>
                  </div>
                  <div class="card-content">
                    <p>Date is: {{p.date}}<br>
                       Time is: {{p.time}}<br>
                       Value is: {{p.value}} <br>
                       Origin is: {{p.origin}} <br>
                       Destiny is: {{p.destiny}} <br>
                       Entrust is: {{p.entrust}} </p>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>
