body{
    background-image: url("../../../../../assets/amazonUsers.jpg");
    background-size: 100%;
}


.card .card-image .card-title {
    color: black;
    position: relative;
    top: 20px;
    bottom: 0;
    left: 0;
}

.btn-floating.halfway-fab {
    position: relative;
    left: 2px;
    bottom: -20px;
}

