<nav>
    <div class="nav-wrapper amber lighten-1">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/admin/get">Users</a></li>
        <li><a routerLink="/entrust/get">Entrust</a></li>
        <li><a routerLink="/clients/get">Clients</a></li>
        <li><a routerLink="/security/login"></a>Log In</a></li>
        <li *ngIf="!activeSession"><a routerLink="/seguridad/login">Login</a></li>
        <li *ngIf="activeSession"><a routerLink="/seguridad/logout">Cerrar Sesion</a></li>
      </ul>
    </div>
  </nav>