<nav>
    <div class="nav-wrapper amber lighten-1">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/admin/get">Users</a></li>
        <li><a routerLink="/entrust/get">Entrust</a></li>
        <li><a routerLink="/client/get">Clients</a></li>
        <li><a routerLink="/service/get">Services</a></li>
        <li *ngIf="!activeSession"><a routerLink="/security/login">Log In</a></li>
        <li *ngIf="activeSession"><a routerLink="/security/logout">Log Out</a></li>
      </ul>
    </div>
  </nav>