body{
    background-image: url("../../../../assets/AmazonRegistroTodos.jpg");
    background-repeat: repeat;
    background-size: 40%;
}

button{
    background-color:rgb(255,153,0);
}

button:hover{
    background-color:rgba(206, 123, 0, 0.979);
}

label{
    color: rgb(255,153,0);
}

.card-title{
    font-size:50px;
    font-family: 'Open Sans', sans-serif;
    color: white
 }

 strong{
    color:white;
 }

 input{
     color:white;
 }